LOCATE COMP "clk_i" SITE "P6";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

LOCATE COMP "rgb_led_r" SITE "A11";
LOCATE COMP "rgb_led_g" SITE "B11";
LOCATE COMP "rgb_led_b" SITE "A12";

LOCATE COMP "ext_io_1" SITE "D6";
LOCATE COMP "ext_io_2" SITE "D7";
LOCATE COMP "ext_io_3" SITE "D8";
LOCATE COMP "ext_io_4" SITE "D9";

IOBUF PORT "rgb_led_r" IO_TYPE=LVCMOS25;
IOBUF PORT "rgb_led_g" IO_TYPE=LVCMOS25;
IOBUF PORT "rgb_led_b" IO_TYPE=LVCMOS25;

IOBUF PORT "ext_io_1" IO_TYPE=LVCMOS25;
IOBUF PORT "ext_io_2" IO_TYPE=LVCMOS25;
IOBUF PORT "ext_io_3" IO_TYPE=LVCMOS25;
IOBUF PORT "ext_io_4" IO_TYPE=LVCMOS25;


