LOCATE COMP "clk_i" SITE "P6";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

LOCATE COMP  "gpio[0]" SITE "A11";
IOBUF PORT "gpio[0]" IO_TYPE=LVCMOS25;

LOCATE COMP "gpio[1]" SITE "B11";
IOBUF PORT "gpio[1]" IO_TYPE=LVCMOS25;

LOCATE COMP "gpio[2]" SITE "A12";
IOBUF PORT "gpio[2]" IO_TYPE=LVCMOS25;

LOCATE COMP "gpio[3]" SITE "D6";
IOBUF PORT "gpio[3]" IO_TYPE=LVCMOS25;

LOCATE COMP "gpio[4]" SITE "D7";
IOBUF PORT "gpio[4]" IO_TYPE=LVCMOS25;

LOCATE COMP "gpio[5]" SITE "D8";
IOBUF PORT "gpio[5]" IO_TYPE=LVCMOS25;

LOCATE COMP "gpio[6]" SITE "D9";
IOBUF PORT "gpio[6]" IO_TYPE=LVCMOS25;
