(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: Some(true),
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: Some(true),
    show_hierarchy_icons: Some(true),
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: Some(true),
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("tests/cocotb/waves/tb_wb_slaves.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "tb_wb_slaves",
                "wb_data_mem",
            ],
            id: Wellen((3)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (13),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 1,
                    unfolded: true,
                    selected: true,
                ),
                (
                    item_ref: (12),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 1,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "m_addr",
                    id: Wellen((22)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_addr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "wb_STB_I",
                    id: Wellen((17)),
                    index: None,
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "wb_STB_I",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "wb_SEL_I",
                    id: Wellen((16)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "wb_SEL_I [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (19): Group((
                name: "wb_data",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "m_write_sel",
                    id: Wellen((25)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_write_sel [3:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (20): Marker((
                color: None,
                background_color: None,
                name: None,
                idx: 0,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "wb_CLK_I",
                    id: Wellen((12)),
                    index: None,
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "wb_CLK_I",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Clock"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "m_write_enable",
                    id: Wellen((24)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_write_enable",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (10): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "wb_CYC_I",
                    id: Wellen((13)),
                    index: None,
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "wb_CYC_I",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (13): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "wb_RST_I",
                    id: Wellen((15)),
                    index: None,
                ),
                color: Some("Blue"),
                background_color: None,
                display_name: "wb_RST_I",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "wb_WE_I",
                    id: Wellen((18)),
                    index: None,
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "wb_WE_I",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "m_write_data",
                    id: Wellen((23)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "m_write_data [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "wb_ADR_I",
                    id: Wellen((11)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "wb_ADR_I [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (18): Group((
                name: "wb_ctrl",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (12): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "wb_DAT_O",
                    id: Wellen((28)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "wb_DAT_O [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (11): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "wb_DAT_I",
                    id: Wellen((14)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "wb_DAT_I [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "wb_ACK_O",
                    id: Wellen((27)),
                    index: None,
                ),
                color: Some("Yellow"),
                background_color: None,
                display_name: "wb_ACK_O",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (17): Group((
                name: "memory_regs",
                color: None,
                background_color: None,
                content: [],
                is_open: false,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "tb_wb_slaves",
                            "wb_data_mem",
                        ],
                        id: Wellen((3)),
                    ),
                    name: "state",
                    id: Wellen((26)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "state [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 20,
        viewports: [
            (
                curr_left: (0.06625000000000024),
                curr_right: (0.15374999999999978),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            35000,
        ])),
        markers: {
            0: (1, [
                29918,
            ]),
        },
        selected_annotation: None,
        annotations: [],
        annotation_groups: [],
        annotation_list_visible: false,
        annotation_counter: 0,
        last_active_viewport_idx: 0,
        focused_item: Some((16)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (5),
        level: 1,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: Some(1.0),
    animation_enabled: None,
    trace_style: Some(Default),
    transition_value: None,
    toolbar_group_enabled: {},
    toolbar_group_rows: [
        [
            "menu",
            "files",
            "copy",
            "zoom",
            "navigation",
            "transitions",
            "add_items",
            "viewports",
            "undo",
            "cxxrtl",
            "time",
            "annotations",
        ],
    ],
    draw_vector_unknowns_as_line: None,
    show_annotation_list: false,
)